<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Liam's Whiteboard Elixir Emporium</title>
    <meta name="description" content="description"/>
    <meta name="author" content="author" />
    <meta name="keywords" content="keywords" />
    <link rel="stylesheet" href="../style/addtocart.css">
    <link rel="icon" href="../image/E.png" type="image/x-icon"/>
        <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
    <style type="text/css">.body { width: auto; }</style>
  </head>
  <body>


    <header>

        <div class="ee"><b>ElixerE</b></div>
        <h1>Liam's Whiteboard Elixir Emporium</h1>
        
        <p> - Your one-stop shop for premium whiteboard cleaners!</p>

        <div class="cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <p style="text-decoration: none;" id="count">0</p>          
        </div>

        <div class="SmallNavigation">
            <a href="../views/contact.html">CONTACT</a>
            <a href="../views/home.html">HOME</a>
                <a href="../views/faq.html">FAQ</a>
            </div>
        
    </header>

    <nav id="navbar">

        <div class="nvigation">
            <h3><a href="../views/contact.html">CONTACT</a></h3>
            <h3><a href="../views/faq.html">      FAQ</a></h3>
            <h3><a href="../views/home.html">      HOME</a></h3>
        </div>

    </nav>

    <main>
      
        <main>
            
            <div class="container_contact_page">
                <h3>The Log of Changes Made Day by Day</h3>

                <ul>DAY 1:
    <li>Opened the brief and analysed the contents and noted the changes that had to be done.</li>
    <li>Created a folder, organised the material and created three files where my work would be stored.</li>
    <li>Created a clear and easy to read navigation bar.</li>
    <li>Created a Json file for the products.</li>
    <li>Found and created images that would be used for the project and inserted them into the file.</li>
    
                </ul>
                <ul>DAY 2:
                    <li>Converted all pages from HTML to EJS.</li>
                    <li>Created the file that starts the website on localhost:3000.</li>
                    <li>Created the HTML and CSS for the contact page.</li>
                    <li>Created the HTML and CSS for the FAQ page.</li>
                    <li>Created the JSON file for the FAQ page.</li>
                    
                                </ul>
                                <ul>DAY 3:
                                    <li>Searched for solutions on how to display JSON files via EJS.</li>
                                    <li>Implemented my findings in both the home and FAQ pages.</li>
                                    <li>Styled the CSS for the product boxes and FAQ boxes.</li>
                                    
                                                </ul>
                                                <ul>DAY 4:
                                                    <li>Created a MySQL database for the project.</li>
                                                    <li>Attempted to create a new function that would add and display a new product.</li>
                                                    <li>Attempted to create a new function that would allow users to ask questions.</li>
                                                    <li>Researched methods on achieving this task.</li>
                                                    
                                                                </ul>
                                                                <ul>DAY 5:
                                                                    <li>Reversed changes made on the fourth day due to constant errors and other issues.</li>
                                                                    <li>Created a new plan of action going forward.</li>
                                                                    <li>Researched and tested a new feature that adds item to a cart and calculates total.</li>
                                                                    <li>Couldn’t use new Javascript function via EJS, decided to drop the idea of using EJS.</li>
                                                                    <li>Added the new function and the required CSS.</li>
                                                                    
                                                                                </ul>
                                                                                <ul>DAY 6:
                                                                                    <li>Changed the CSS for the new home page.</li>
                                                                                    <li>Re-organised the files and folders and removed any unnecessary pieces.</li>
                                                                                    <li>Changed the style to the contact and FAQ pages.</li>
                                                                                    <li>Deleted all JSON files and created an alternative Javascript version.</li>
                                                                                    
                                                                                                </ul>
                                                                                                <ul>DAY 7:
                                                                                                    <li>Re-designed the header, made sure the company’s full name is on display along with their slogan and put the navigation in a different area.</li>
                                                                                                    <li>Instead of using fantasy potions I decided to change the products to whiteboard cleaning materials.</li>
                                                                                                    <li>Re-organised my CSS layout to be more manageable.</li>
                                                                                                    <li>Made small adjustments to HTML to reduce the length and complexity.</li>
                                                                                                    <li>Began Working on making the website look good in different screen sizes.</li>
                                                                                                    
                                                                                                                </ul>
                                                                                                                <ul>DAY 8:
                                                                                                                    <li>Began polishing the project like adding a title for the webpages and added an icon for the page.</li>
                                                                                                                    <li>Compiled the screenshots and notes and created this brief as per the “Deliverables” section.</li>
                                                                                                                    <li>Created the LOG page where all my changes can be seen on the website and connected it to the other pages I had made before.</li>
                                                                                                                    
                                                                                                                                </ul>
                
                
            </div>
        </main>

    </main>

    <footer>
        <p>&copy; 2023 Liam's Whiteboard Elixir Emporium. All rights reserved.</p>
    </footer>



  </body>
</html>